:host{
    background-color: #292d33;
    display: block;
    .nav {
        button{
            background:none;
            border: solid 1px white;
            color:white;
            padding: 8px;
        }
        button:hover{
            color:#f48bc8;
            border: solid 1px #f48bc8;
            cursor: pointer;
        }
    }
}