<div class="container">
  <div class="center">
    <h3>Ice Cream Menu</h3>
    <h4>All of our ice cream is made from scratch on premises!</h4>
  </div>
  <div class="images">

    <div class="image1">
      <div class="container">
        <div class="header">Chocolate Ice Cream</div>
        <img src="../assets/s-min.jpeg">
        <div class="price">
          <ul>
            <li>Chocolate, vanilla & strawberry ice cream, marshmallow, fudge & chocolate toppings, whipped cream & nuts</li> 
            <li>
              <div>
                <span (click)="buyNow(9.2)"> 9.20$ | Buy now</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
    <div class="image2">
      <div class="container">
        <div class="header">Strawberry Split</div>
        <img src="../assets/w-min.jpeg">
        <div class="price">
          <ul>
            <li>Chocolate, vanilla & strawberry ice cream, marshmallow, fudge & chocolate toppings, whipped cream & nuts</li> 
            <li>
              <div>
                <span (click)="buyNow(8)"> 8.00$ | Buy now</span>
              </div>
            </li>
          </ul>
          
          
          
        </div>
      </div>
      
    </div>
  </div>
</div>